---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/4d248f12497c4db3/forecast10day/q/80205.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 01 Jan 2017 23:31:29 GMT
      X-Creationtime:
      - '0.039'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"3:24 PM MST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Sunday\",\n\t\t\"fcttext\":\"Partly
        cloudy. Lows overnight in the low 30s.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy. Low -1C.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"title\":\"Sunday
        Night\",\n\t\t\"fcttext\":\"Some clouds this evening will give way to mainly
        clear skies overnight. Low around 30F. Winds WSW at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy skies. Low -1C. Winds WSW at 10 to 15 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"ic[...]
